{% extends "layout.html" %}
{% block title %}{{ 'Edit Position' if position else 'Create Position' }}{% endblock %}
{% block page %}{{ 'Edit Position' if position else 'Create Position' }}{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <h4>{{ 'Edit Position' if position else 'Create a New Position' }}</h4>
</div>

<div class="row">
  <form class="col s12" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" name="title" type="text" class="validate"
               value="{{ position.title if position else '' }}" required>
        <label for="title" class="active">Position Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="number" name="number" type="number" class="validate"
               value="{{ position.number_of_positions if position else 1 }}" required>
        <label for="number" class="active">Number of Openings</label>
      </div>
    </div>

    <button type="submit" class="btn waves-effect waves-light purple">
      {{ 'Update' if position else 'Create' }}
    </button>
  </form>
</div>
{% endblock %}